.arrow {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.window-titlebar {
    width: 95%;
}

.menu-bar {
    width: 95%;
}

/* Window Content */
.window {
    background-color: #ffffff;
    border: 2px solid #808080;
    padding: 10px;
    width: 95%;
    font-family: "Tahoma", sans-serif;
    box-shadow: 2px 2px #404040, -2px -2px #C0C0C0;
    /* 3D window effect */
    box-sizing: border-box;
}

.window p {
    font-weight: bold;
}

.window p,
.window li {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
}

/* List styling in the window */
.window ul {
    padding-left: 20px;
    margin: 0;
}