body {
    font-family: "Tahoma", sans-serif;
    background-color: #008080; 
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

main {
    float: left;
    width: 100%;
}

.window-titlebar {
    width: 75%;
}

.menu-bar {
    width: 75%;
}

/* Window Content */
.window {
    background-color: #ffffff;
    border: 2px solid #808080;
    padding: 10px;
    width: 75%;
    margin: 0px 0px;
    font-family: "Tahoma", sans-serif;
    box-shadow: 2px 2px #404040, -2px -2px #C0C0C0; /* 3D window effect */
    box-sizing: border-box;
}

.window p {
    font-weight: bold;
}

.window p, .window li {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
}

/* List styling in the window */
.window ul {
    padding-left: 20px;
    margin: 0;
}